body {
  margin: 0px;
  overflow: hidden;
}

.node--hover circle {
  stroke: #000;
  stroke-width: 1px;
}

.node--hover--big circle {
  stroke: #000;
  stroke-width: 2px;
}

.btn-group button {
  background-color: #000080;
  border: 1px solid #1e90ff;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #191970;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.active {
  background-color: #666 !important;
  color: white;
  border: 1px solid red;
}
